<form novalidate [formGroup]="signinForm" (ngSubmit)="onSubmit">

    <mat-form-field>
        <input
            matInput
            placeholder="Correo electrónico"
            formControlName="email"
            id="email"
            type="email"
            required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  
    <mat-form-field>
        <input
            matInput
            placeholder="Contraseña"
            formControlName="password"
            id="password"
            type="password"
            required>
        <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">Iniciar Sesión</button>

</form>
